 <div class="hk-element hk-element-button-main {{ block.settings.custom_class }} hk-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="hk-element-button">
<a class="hk-button hk-font-{{ block.settings.font_type }}" href="{{ block.settings.button_link | default:'#' }}">{{ block.settings.button_label }}</a></div>
</div>