<div class="hk-element hk-element-total-main {{ block.settings.custom_class }} hk-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="hk-element-total hk-font-{{ block.settings.font_type }}">{{ block.settings.total }}
{% assign custom_compare_total = 0 %}

{% for item in cart.items %}
  {% if item.variant.compare_at_price > item.variant.price %}
    {% assign line_compare = item.variant.compare_at_price | times: item.quantity %}
     {% elsif item.variant.price > item.original_line_price %}
  {% assign line_compare = item.variant.price | times:item.quantity %}
  {% else %}
    {% assign line_compare = item.original_line_price %}
  {% endif %}
  {% assign custom_compare_total = custom_compare_total | plus: line_compare %}
{% endfor %}

<div class="hk-cart-price">

  <span class="hk-cart-total-price">
    {{ cart.total_price | money_without_trailing_zeros }}
  </span>
  {% if custom_compare_total > cart.total_price %}
    <span class="hk-cart-total-price">
      <s>{{ custom_compare_total | money_without_trailing_zeros }}</s>
    </span>
  {% endif %}
</div>
</div>
</div>