<div class="hk-line-item" data-key="{{ item.key }}">
<div class="hk-line-item-flex">
<div class="hk-line-item-left">
<div class="hk-line-item-image">
{% assign feature_image = item.product.featured_image %}
{% if item.product.featured_image != blank %}
{% assign feature_image = item.variant.featured_image %}
{% endif %}
 {{ feature_image | image_url: width: 200 | image_tag:
  loading: 'lazy',
  fetchpriority: 'low',
  alt: feature_image.alt,
  widths: '375, 550, 750, 800'
}} 
</div>
<div class="hk-line-item-details">
<div class="hk-item-title"><a href="{{ item.product.url }}">{{ item.title }}</a>
<!-- Subscription -->
  {% if item.selling_plan_allocation %}
    <div class="hk-item-properties">
  Subscription: {{ item.selling_plan_allocation.selling_plan.name }}
    </div>
  {% endif %}
 {% if item.properties != blank %}
    <div class="hk-item-properties">
      {% for p in item.properties %}
        {% assign key = p.first %}
        {% assign value = p.last %}

        {% unless value == blank or key contains '_' %}
          <div class="hk-item-property">
            <strong>{{ key }}:</strong> {{ value }}
          </div>
        {% endunless %}
      {% endfor %}
    </div>
  {% endif %}
</div>
{% if item.final_line_price > 0 %}
<div class="hk-quantity-main">
<button class="hk-quantity-button hk-quantity-minus">
<svg xmlns="http://www.w3.org/2000/svg" width="8" height="1" viewBox="0 0 8 1" fill="none">
  <path d="M0 0.8866V0H7.60445V0.8866H0Z" fill="#161616"/>
</svg>
</button>
<input class="hk-quantity-input" name="hk-item-quantity" value="{{ item.quantity }}" readonly>
<button class="hk-quantity-button hk-quantity-plus">
<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
  <path d="M0 3.1317H3.1317V0H4.0183V3.1317H7.15V4.0183H4.0183V7.1643H3.1317V4.0183H0V3.1317Z" fill="#161616"/>
</svg>
</button>
</div>
{% else %}
<div class="hk-free-badge"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.08429 0.0474516C7.00749 0.072028 6.86463 0.134205 6.76686 0.185567C6.60402 0.271152 6.31921 0.549236 3.37528 3.49715C0.307354 6.56927 0.158222 6.72282 0.0892919 6.88036C-0.0401644 7.17637 -0.0283842 7.52442 0.121561 7.83244C0.212122 8.01852 4.98144 12.7879 5.16751 12.8784C5.47552 13.0284 5.82357 13.0402 6.11958 12.9107C6.27712 12.8418 6.43074 12.6926 9.50299 9.62459C12.5556 6.57618 12.7264 6.40087 12.82 6.22025C13.0111 5.85171 12.9999 6.03238 12.9999 3.32248V0.890918L12.9405 0.727389C12.8248 0.40848 12.5914 0.175107 12.2725 0.059359L12.109 0L9.66649 0.00137102C7.40647 0.00264046 7.21355 0.00606791 7.08429 0.0474516ZM9.43246 2.22766C9.12467 2.3376 8.91255 2.52717 8.77687 2.81359C8.70253 2.97049 8.69652 3.00314 8.69652 3.24976C8.69652 3.49675 8.70246 3.52889 8.77738 3.68704C8.88975 3.92427 9.05554 4.09315 9.28954 4.2088C9.47409 4.30002 9.49054 4.3034 9.75014 4.3034C10.0097 4.3034 10.0262 4.30002 10.2107 4.2088C10.4447 4.09315 10.6105 3.92427 10.7229 3.68704C10.7978 3.52889 10.8038 3.49675 10.8038 3.24976C10.8038 3.00278 10.7978 2.97064 10.7229 2.81249C10.6109 2.57607 10.4446 2.40632 10.2129 2.29177C10.0435 2.20806 9.9992 2.19737 9.79165 2.19021C9.61708 2.18417 9.52825 2.19344 9.43246 2.22766Z" fill="white"/>
</svg>FREE</div>
{%  endif %}
</div>
</div>
<div class="hk-line-item-right">
<div class="hk-item-price">
  {{ item.final_line_price | money }}

  {% if item.variant.compare_at_price > item.variant.price %}
    <s>
      {{ item.variant.compare_at_price | times: item.quantity | money }}
    </s>
  {% endif %}
</div>
<div class="hk-product-stock-text hk-global-stock">
<div class="hk-element-richtext hk-font-body"><p><strong>In stock</strong></p></div>
</div>
</div>
</div>
</div>