{%  assign counter_block = block %}
{% capture slider_config_thumb %}
{
  "dots": false,
  "arrows": false,
  "speed": 400,
  "slidesToShow": {{ block.settings.columns_desktop }},
  "slidesToScroll": 1,
  "autoplay": false,
  "infinite": false,
  "cssEase": "linear",
  "vertical": true,
  "asNavFor": ".hk-slider-product-media-main",
  "focusOnSelect": true,
  "responsive": [
    {
      "breakpoint": 915,
      "settings": {
        "slidesToShow": {{ block.settings.columns_mobile }},
        "slidesToScroll": 1
      }
    }
  ]
}
{% endcapture %}
{% capture slider_config_main %}
{
  "dots": false,
  "arrows": true,
  "speed": 400,
  "slidesToShow": 1,
  "slidesToScroll": 1,
  "autoplay": false,
  "infinite": false,
  "cssEase": "linear",
  "asNavFor": ".hk-slider-product-media-thumb",
  "prevArrow": ".hk-slider-prev-{{ block.id }}",
  "nextArrow": ".hk-slider-next-{{ block.id }}",
  "responsive": [
    {
      "breakpoint": 915,
      "settings": {
        "slidesToShow": 1,
        "slidesToScroll": 1
      }
    }
  ]
}
{% endcapture %}
<div class="hk-element hk-element-product-media hk-rative {{ block.settings.custom_class }} hk-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
    <div class="hk-rative hk-media-main-wrapper">
<div class="hk-slick-slider hk-slider-product-media-main" data-slider-config='{{ slider_config_main | strip }}'>
 {%- for block in section.blocks -%} 
            {%- case block.type -%}  
                {%- when 'product_image' -%} 
                    {%  render 'hk-product-image-main', block:block, counter_block:counter_block %} 
            {%  endcase %}
        {%  endfor %} 
</div>

</div>
<div class="hk-slick-slider hk-slider-product-media-thumb" data-slider-config='{{ slider_config_thumb | strip }}'>
 {%- for block in section.blocks -%} 
            {%- case block.type -%}  
                {%- when 'product_image' -%} 
                    {%  render 'hk-product-image-thumb', block:block, counter_block:counter_block %} 
            {%  endcase %}
        {%  endfor %} 
</div>

<div class="hk-slider-navigation">
<button class="hk-slider-prev-{{ block.id }} hk-slider-button hk-slider-prev"><svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
  <circle cx="20.28" cy="20.28" r="19.5" fill="white" fill-opacity="0.15" stroke="#16463D" stroke-width="1.56"/>
  <path d="M23.3945 19.1099C24.0407 19.1099 24.5645 19.6337 24.5645 20.2799C24.5645 20.9261 24.0407 21.4499 23.3945 21.4499L23.3945 20.2799L23.3945 19.1099ZM13.2072 21.1072C12.7503 20.6503 12.7503 19.9095 13.2072 19.4526L20.653 12.0068C21.11 11.5498 21.8508 11.5498 22.3077 12.0068C22.7646 12.4637 22.7646 13.2045 22.3077 13.6614L15.6892 20.2799L22.3077 26.8984C22.7646 27.3553 22.7646 28.0961 22.3077 28.5531C21.8508 29.01 21.11 29.01 20.6531 28.5531L13.2072 21.1072ZM23.3945 20.2799L23.3945 21.4499L14.0345 21.4499L14.0345 20.2799L14.0345 19.1099L23.3945 19.1099L23.3945 20.2799Z" fill="#16463D"/>
</svg></button>
<button class="hk-slider-next-{{ block.id }} hk-slider-button hk-slider-next"><svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
  <circle cx="20.28" cy="20.28" r="19.5" fill="white" fill-opacity="0.15" stroke="#16463D" stroke-width="1.56"/>
  <path d="M17.166 19.1099C16.5198 19.1099 15.996 19.6337 15.996 20.2799C15.996 20.9261 16.5198 21.4499 17.166 21.4499L17.166 20.2799L17.166 19.1099ZM27.3533 21.1072C27.8102 20.6503 27.8102 19.9095 27.3533 19.4526L19.9075 12.0068C19.4506 11.5498 18.7098 11.5498 18.2529 12.0068C17.796 12.4637 17.796 13.2045 18.2529 13.6614L24.8714 20.2799L18.2529 26.8984C17.796 27.3553 17.796 28.0961 18.2529 28.5531C18.7098 29.01 19.4506 29.01 19.9075 28.5531L27.3533 21.1072ZM17.166 20.2799L17.166 21.4499L26.526 21.4499L26.526 20.2799L26.526 19.1099L17.166 19.1099L17.166 20.2799Z" fill="#16463D"/>
</svg></button>
</div>
</div>