 <div class="hk-element hk-element-button-main {{ block.settings.custom_class }} hk-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="hk-element-button">
<a class="hk-button hk-font-{{ block.settings.font_type }}" href="{{ block.settings.button_link | default:'#' }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
  <g clip-path="url(#clip0_9189_11875)">
    <rect x="3.95312" y="7.9043" width="15.808" height="14.82" fill="white"/>
    <path d="M18.5261 11.5802V6.64019C18.5261 4.87146 17.8235 3.17518 16.5728 1.9245C15.3221 0.673816 13.6259 -0.0288086 11.8571 -0.0288086C10.0884 -0.0288086 8.39211 0.673816 7.14143 1.9245C5.89075 3.17518 5.18813 4.87146 5.18813 6.64019V11.5802C4.42798 12.7751 4.00286 14.1524 3.95723 15.5679C3.9116 16.9834 4.24714 18.3852 4.92875 19.6266C5.61036 20.868 6.67642 21.5094 7.89525 22.2306C9.11407 22.9519 10.0554 21.7366 11.4716 21.7366C12.8879 21.7366 14.3631 22.9519 15.5819 22.2306C16.8007 21.5094 18.1039 20.868 18.7855 19.6266C19.4671 18.3852 19.8027 16.9834 19.757 15.5679C19.7114 14.1524 19.2863 12.7751 18.5261 11.5802ZM11.8571 17.7848C11.4663 17.7848 11.0843 17.6689 10.7593 17.4518C10.4344 17.2347 10.1811 16.9261 10.0315 16.565C9.88198 16.2039 9.84285 15.8066 9.91909 15.4233C9.99534 15.04 10.1835 14.6879 10.4599 14.4116C10.7362 14.1352 11.0883 13.947 11.4716 13.8708C11.8549 13.7946 12.2522 13.8337 12.6133 13.9832C12.9744 14.1328 13.283 14.3861 13.5001 14.711C13.7172 15.036 13.8331 15.418 13.8331 15.8088C13.8331 16.3329 13.6249 16.8355 13.2544 17.2061C12.8838 17.5766 12.3812 17.7848 11.8571 17.7848ZM16.0561 8.28027C16.0548 8.36516 16.0324 8.4484 15.991 8.52254C15.9497 8.59668 15.8906 8.6594 15.819 8.70511C15.7469 8.74673 15.6651 8.76865 15.5819 8.76865C15.4986 8.76865 15.4169 8.74673 15.3448 8.70511C14.2613 8.16566 13.0675 7.88489 11.8571 7.88489C10.6468 7.88489 9.45295 8.16566 8.36949 8.70511C8.29739 8.74673 8.21561 8.76865 8.13237 8.76865C8.04912 8.76865 7.96734 8.74673 7.89525 8.70511C7.82369 8.6594 7.76459 8.59668 7.72321 8.52254C7.68183 8.4484 7.65947 8.36516 7.65813 8.28027V6.66983C7.65813 5.55619 8.10052 4.48816 8.88798 3.70069C9.67545 2.91322 10.7435 2.47083 11.8571 2.47083C12.9708 2.47083 14.0388 2.91322 14.8263 3.70069C15.6137 4.48816 16.0561 5.55619 16.0561 6.66983V8.28027Z" fill="white"/>
    <rect x="9.87891" y="13.833" width="3.952" height="3.952" rx="1.976" fill="black"/>
  </g>
  <defs>
    <clipPath id="clip0_9189_11875">
      <rect width="23.712" height="23.712" fill="white"/>
    </clipPath>
  </defs>
</svg> {{ block.settings.button_label }}</a></div>
</div>