<div class="hk-element hk-element-menu-main {{ block.settings.custom_class }} hk-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
{% if block.settings.menu != blank %}
    {% assign menu = block.settings.menu %}
<div class="hk-element hk-element-menu">
<div class="hk-menu-list hk-font-body">
{% for link in menu.links %}
<a href="{{ link.url }}">{{ link.title }}</a>
{% endfor %}
</div>
</div>
{%  endif %}
</div>