{% assign threshold = block.settings.threshold | times: 100 %}
{% assign cart_total = cart.total_price %}
{% assign remaining = threshold | minus: cart_total %}

<div class="hk-element hk-element-free-shipping-main {{ block.settings.custom_class }} hk-element-{{ block.id }}"
{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="hk-element-free-shipping hk-font-{{ block.settings.font_type }}">
  <div class="elfree-ship-bar">
    <div class="elfree-ship-filled-bar" style="width:{{ cart_total | times: 100 | divided_by: threshold }}%;max-width:100%;">
<svg xmlns="http://www.w3.org/2000/svg" width="19" height="15" viewBox="0 0 19 15" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3749 0H0V12.7163H1.14433C1.13978 12.6487 1.13749 12.5807 1.13749 12.5125C1.13749 11.6591 1.49701 10.8408 2.13697 10.2374C2.77693 9.63398 3.64491 9.295 4.54994 9.295C5.45498 9.295 6.32296 9.63398 6.96291 10.2374C7.60288 10.8408 7.9624 11.6591 7.9624 12.5125C7.9624 12.5807 7.96013 12.6487 7.95558 12.7163H10.2442C10.2396 12.6487 10.2374 12.5807 10.2374 12.5125C10.2374 11.6591 10.5969 10.8408 11.2368 10.2374C11.8768 9.63398 12.7448 9.295 13.6498 9.295C14.5549 9.295 15.4229 9.63398 16.0628 10.2374C16.7028 10.8408 17.0623 11.6591 17.0623 12.5125C17.0623 12.5807 17.06 12.6487 17.0555 12.7163H18.2V6.98119L18.1199 6.83025L15.8449 2.54025L15.6353 2.145H11.3749V0ZM11.3749 7.15V3.575H14.698L16.5938 7.15H11.3749ZM4.54994 10.725C4.04714 10.725 3.56493 10.9133 3.2094 11.2485C2.85387 11.5838 2.65413 12.0385 2.65413 12.5125C2.65413 12.9865 2.85387 13.4412 3.2094 13.7765C3.56493 14.1117 4.04714 14.3 4.54994 14.3C5.05274 14.3 5.53495 14.1117 5.89049 13.7765C6.24602 13.4412 6.44575 12.9865 6.44575 12.5125C6.44575 12.0385 6.24602 11.5838 5.89049 11.2485C5.53495 10.9133 5.05274 10.725 4.54994 10.725ZM13.6498 10.725C13.1471 10.725 12.6648 10.9133 12.3093 11.2485C11.9538 11.5838 11.754 12.0385 11.754 12.5125C11.754 12.9865 11.9538 13.4412 12.3093 13.7765C12.6648 14.1117 13.1471 14.3 13.6498 14.3C14.1526 14.3 14.6348 14.1117 14.9904 13.7765C15.3459 13.4412 15.5456 12.9865 15.5456 12.5125C15.5456 12.0385 15.3459 11.5838 14.9904 11.2485C14.6348 10.9133 14.1526 10.725 13.6498 10.725Z" fill="white"/>
</svg>  
      {% if remaining > 0 %}
        <span class="locked_text">
            {% assign remaining_money = remaining | money %}
{{ block.settings.locked_text | replace: '[price]', remaining_money }}
        </span>
      {% else %}
        <span class="unlocked_text">
          {{ block.settings.ulocked_text }}
        </span>
      {% endif %}
    </div>

  </div>

</div>
</div>