<div class="hk-element hk-element-sub-options {{ block.settings.custom_class }} hk-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<button class="hk-element-sub-option hk-active hk-font-body" sub_tab="1">
{% if block.settings.sub_badge != blank %}
<span class="hk-sub-option-sub-badge">{{ block.settings.sub_badge }}</span>
{% endif %}
<span class="hk-sub-option-inner">
<span class="hk-sub-option-title-flex">

<span class="hk-sub-option-selector"><span class="hk-sub-option-select"><svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
  <path d="M32.3556 0H4.04444C1.81393 0 0 1.81393 0 4.04444V32.3556C0 34.5861 1.81393 36.4 4.04444 36.4H32.3556C34.5861 36.4 36.4 34.5861 36.4 32.3556V4.04444C36.4 1.81393 34.5861 0 32.3556 0ZM16.3133 27.2616L8.6814 19.6297L11.5408 16.7703L16.0423 21.2718L24.7358 10.8391L27.844 13.4276L16.3133 27.2616Z" fill="#CAAD58"/>
</svg></span></span>
<span class="hk-sub-option-title-texts">
{% if block.settings.sub_title != blank %}
<span class="hk-sub-option-title">{{ block.settings.sub_title }}</span>
{% endif %}
</span>
</span>
<span class="hk-sub-option-price">
{%- for block in section.blocks -%} 
{%- case block.type -%} 
{%- when 'variant' -%}  
{% assign index = block.settings.index | minus:1 %}
{% assign variant = product.variants[index] %}
{%  assign compare_price = variant.price  %}
{%  if variant.compare_at_price > variant.price %}
{%  assign compare_price = variant.compare_at_price  %}
{% endif %}
{%  assign price = variant.price  %}
{%  assign price_sub = variant.selling_plan_allocations.first.per_delivery_price %}
<span class="hk-variant-trigger{% if block.settings.active == true %} hk-active{% endif %}" variant_id="{{ variant.id }}"{% if block.settings.active != true %} style="display:none;"{% endif %}>
  {%  if compare_price > price_sub %} <span class="hk-save-badge">SAVE {{ compare_price | minus:price_sub | times:100 | divided_by:compare_price | round }}%</span>{% endif %}
{{ price_sub | money }} {%  if compare_price > price_sub %} <s>{{ compare_price | money }}</s>{% endif %}
</span>
{%  endcase %}
{%  endfor %} 
</span>
</span>

{% if block.settings.sub_text != blank %}
<span class="hk-sub-option-text">{{ block.settings.sub_text | replace:'<li>','<li><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
  <path d="M6.5 0C5.21442 0 3.95772 0.381218 2.8888 1.09545C1.81988 1.80968 0.986756 2.82484 0.494786 4.01256C0.00281636 5.20028 -0.125905 6.50721 0.124899 7.76809C0.375703 9.02896 0.994768 10.1872 1.90381 11.0962C2.81285 12.0052 3.97104 12.6243 5.23192 12.8751C6.49279 13.1259 7.79973 12.9972 8.98745 12.5052C10.1752 12.0132 11.1903 11.1801 11.9046 10.1112C12.6188 9.04229 13 7.78558 13 6.5C13 4.77609 12.3152 3.12279 11.0962 1.90381C9.87721 0.684819 8.22391 0 6.5 0ZM10.2538 4.44167L6.54334 9.47375C6.50016 9.53259 6.44554 9.5821 6.38276 9.6193C6.31997 9.6565 6.25032 9.68063 6.17797 9.69025C6.10563 9.69986 6.03209 9.69475 5.96177 9.67523C5.89145 9.65572 5.82579 9.62219 5.76875 9.57667L3.12 7.45875C3.06436 7.41405 3.0181 7.35879 2.98388 7.29616C2.94966 7.23352 2.92816 7.16474 2.92061 7.09377C2.91306 7.02279 2.91961 6.95103 2.93988 6.88259C2.96016 6.81416 2.99376 6.75041 3.03875 6.695C3.12876 6.58578 3.25794 6.51612 3.39865 6.50094C3.53937 6.48575 3.68043 6.52625 3.79167 6.61375L6.00167 8.37958L9.38167 3.79167C9.46696 3.67745 9.59382 3.60146 9.73477 3.58017C9.87571 3.55887 10.0194 3.594 10.1346 3.67792C10.1931 3.71982 10.2427 3.77296 10.2804 3.83423C10.3181 3.89551 10.3433 3.96369 10.3544 4.03479C10.3655 4.1059 10.3623 4.1785 10.345 4.24836C10.3277 4.31822 10.2967 4.38393 10.2538 4.44167Z" fill="#16463D"/>
</svg>'  }}</span>
{% endif %}
{% if block.settings.free_product != blank and block.settings.free_product.available %}
{% assign free_product = block.settings.free_product %}
<span class="hk-free-product-details" variant_id="{{ free_product.selected_or_first_available_variant.id }}">
{% if block.settings.free_image != blank %}
{% if block.settings.free_image_mobile != blank %}
<span class="hk-free-product-image hk-hide-desktop">
{{ block.settings.free_image_mobile | image_url: width: 200 | image_tag:
  loading: 'lazy',
  fetchpriority: 'low',
  alt:block.settings.free_image_mobile.alt,
  widths: '375, 550, 750, 800'
}} 
</span>
<span class="hk-free-product-image hk-hide-mobile">
{{ block.settings.free_image | image_url: width: 200 | image_tag:
  loading: 'lazy',
  fetchpriority: 'low',
  alt:block.settings.free_image.alt,
  widths: '375, 550, 750, 800'
}} 
</span>
{% else %}
<span class="hk-free-product-image">
{{ block.settings.free_image | image_url: width: 200 | image_tag:
  loading: 'lazy',
  fetchpriority: 'low',
  alt:block.settings.free_image.alt,
  widths: '375, 550, 750, 800'
}} 
</span>
{% endif %}
{% endif %}
{% if block.settings.free_title != blank %}
<span class="hk-free-product-title">{{ block.settings.free_title }}</span>
{% endif %}
{% assign price = free_product.selected_or_first_available_variant.price | money %}
{% if block.settings.free_text != blank %}
<span class="hk-free-product-text">{{ block.settings.free_text | replace:'[price]',price }}</span>
{% endif %}
</span>
{% endif %}
</button> 



<button class="hk-element-sub-option hk-font-body" sub_tab="2">
<span class="hk-sub-option-inner">
{% if block.settings.one_time_title != blank %}
<span class="hk-sub-option-title-flex">
<span class="hk-sub-option-selector"><span class="hk-sub-option-select"></span></span>
<span class="hk-sub-option-title">{{ block.settings.one_time_title }}</span>
</span>
{% endif %}
<span class="hk-sub-option-price">
{%- for block in section.blocks -%} 
{%- case block.type -%} 
{%- when 'variant' -%}  
{% assign index = block.settings.index | minus:1 %}
{% assign variant = product.variants[index] %}
{%  assign compare_price = variant.price  %}
{%  if variant.compare_at_price > variant.price %}
{%  assign compare_price = variant.compare_at_price  %}
{% endif %}
{%  assign price = variant.price  %}
<span class="hk-variant-trigger{% if block.settings.active == true %} hk-active{% endif %}" variant_id="{{ variant.id }}"{% if block.settings.active != true %} style="display:none;"{% endif %}>
{{ price | money }} {%  if compare_price > price %} <s>{{ compare_price | money }}</s>{% endif %}
</span>
{%  endcase %}
{%  endfor %} 
</span>
</span>
</button> 


</div>
