 <div class="hk-element hk-element-faq {{ block.settings.custom_class }} hk-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="hk-faq-main">
<button class="hk-element-question-{{ block.id }} hk-question hk-font-{{ block.settings.font_type }}"><span>{{ block.settings.question }}</span></button>
<div class="hk-element-answer-{{ block.id }} hk-answer hk-font-{{ block.settings.font_type_answer }}" style="display:none;">{{ block.settings.answer }}</div>
</div>
</div>