 <div class="hk-element hk-element-faq {{ block.settings.custom_class }} hk-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="hk-faq-main">
<button class="hk-element-question-{{ block.id }} hk-question hk-font-{{ block.settings.font_type }}"><span>{{ block.settings.question }}</span></button>
<div class="hk-element-answer-{{ block.id }} hk-answer hk-font-{{ block.settings.font_type_answer }}" style="display:none;">{{ block.settings.answer }}
{%  if block.settings.image != blank %}
<div class="hk-element-image">
{% if block.settings.image_mobile != blank %}
  <div class="hk-media hk-hide-mobile">
    {%  if block.settings.high_resolution == true %}
 {{ block.settings.image | image_url: width: 1800 | image_tag:
  loading: block.settings.image_loading,
  fetchpriority: block.settings.image_performance,
  alt:block.settings.image.alt,
  widths: '1800'
}}   
    {%  else %}
 {{ block.settings.image | image_url: width: 800 | image_tag:
  loading: block.settings.image_loading,
  fetchpriority: block.settings.image_performance,
  alt:block.settings.image.alt,
  widths: '375, 550, 750, 800'
}}   
    {%  endif %}
</div>
  <div class="hk-media hk-hide-desktop">
 {{ block.settings.image_mobile | image_url: width: 800 | image_tag:
  loading: block.settings.image_loading,
  fetchpriority: block.settings.image_performance,
  alt:block.settings.image_mobile.alt,
  widths: '375, 550, 750, 800'
}}   
</div>
{% else %}
  <div class="hk-media">
    {%  if block.settings.high_resolution == true %}
 {{ block.settings.image | image_url: width: 1800 | image_tag:
  loading: block.settings.image_loading,
  fetchpriority: block.settings.image_performance,
  alt:block.settings.image.alt,
  widths: '1800'
}} 
    {%  else %}
 {{ block.settings.image | image_url: width: 800 | image_tag:
  loading: block.settings.image_loading,
  fetchpriority: block.settings.image_performance,
  alt:block.settings.image.alt,
  widths: '375, 550, 750, 800'
}} 
    {%  endif %}
</div>
{%  endif %}
</div>
{% endif %}

</div>
</div>
</div>